<h1 class="text-2xl font-semibold">Seu carrinho</h1>
<div id="cart_items"><%= render "carts/items", cart: @cart %></div>

<% if @cart.line_items.any? %>
  <%= link_to "Ir para o Checkout", new_checkout_address_path, class: "btn-primary" %>
<% end %>